{% extends "base.html" %}
{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2 mt-5">
            <h1 class="text-center">Task Detail</h1>
            {{ message }}
            <form method="POST" class="d-flex flex-column align-items-center">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="btn-group" role="group" aria-label="Task Actions">
                    <button type="submit" class="btn btn-primary">
                        Update
                    </button>
                </div>
            </form>

            <div class="row justify-content-center mt-3">
                <div class="col-auto">
                    <form action="{% url 'completeTask' task.id %}" method="POST" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success">
                            Complete
                        </button>
                    </form>
                </div>
                <div class="col-auto">
                    <form action="{% url 'deleteTask' task.id %}" method="POST" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">
                            Delete
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}